<h1>Welcome to Special Rails Blog!</h1>

<p>We are the raddest place on the internet for blogging!  All rainbows, all the time! And puppies and kittens and sparkly things, too, if you like. So sign up, sign in, and get blogging! We guarantee you will love it or your money back! By the way, this is a free service.</p>

<div>
	<% @posts.each do |p| %>
		<div class="post">
	    	<h4 class="post-name"><%= p.user.name %></h4>
	    	<h4 class="post-title"><%= p.title %></h4>
	        <p class="post-content"><%= p.content %></p>
		</div>
	<% end %>
</div>
