.post-title {
    text-transform: uppercase;
    font-size: 48px;
    margin-bottom: 0px;
}

.post-meta {
    margin-bottom: 40px;
}

.post-body {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 60px;
}